@mixin tablets{
    @media (min-width:480px) and (max-width:728px) {
        @content;
    }
}

@mixin smartphone {
    @media (max-width:480px){
        @content;
    }
}

@mixin desktop {
    @media (min-width:728px) and (max-width:1024px){
        @content;
    }
    
}

@mixin CardProp ($Posicion) {
    display: flex;
    flex-direction: column;
    margin: 1em;
    border-radius: 6px;
    overflow:hidden;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
    transform: translatey(-3%);    
    /*align-items: center;
    justify-content: $Posicion;*/
    width: $anchoCard;
    padding-right: 0.6em;

    & img{
        margin: $anchoCard * 0.05;        
    }
    
    & p{
        margin: $anchoCard * 0.01;        
    }
}

@mixin LinkCardProp ($Color) {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color:$Color;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
    transition: all 400ms ease;
    margin: 1em;  
    
    &:HOVER{
        box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
        color: white;
        background-color: #2fb4cc;
        
    }
}