@import 'variables';
@import 'mixins';

*{
    margin:0;
    padding:0;
    font-family: 'Ubuntu', sans-serif;   
    }    

.grid-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto 1fr 1fr 1fr auto;
    grid-template-areas: "header   header   header"
                         "main     main     main"
                         "main     main     main"
                         "main     main     main"
                         "footer   footer   footer"
                         ;

                         /*Header*/
    .header{
        grid-area: header;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        filter: alpha(opacity=90);
        -moz-opacity: 0.90;
        -khtml-opacity: 0.8;
        opacity: 0.9;  
        position: sticky;
        top: 0;
        width: 100%;
        .header__NavBar{
            display: flex;
            .Header__Logo{
                margin-right: 41em; 
                
                @include smartphone{
                    margin-right: 20em;
                }
                @include tablets{
                    margin-right: 30em;
                }
            }
            a {
                color: black;
                align-items:baseline;
                text-justify: auto;
                text-decoration: none;
                font-weight: 1000;
                font-size: $letraHeader;
                &:hover{
                    color: red;
                    font-size:  $letraHeader * 2;
                    font-weight: 2000;                   
                }
            }   
    
        }
    }

                    /*Main*/

    .main{
        grid-area: main;
        margin: 1em;
        min-height: 100vh;
        display: flex;
        justify-content: center; 
        flex-direction: row;

        .main__QSomos{
            display: grid;
            grid-template-columns: 1fr auto;
            grid-row: 1fr auto;
            grid-template-areas: "Img2 Texto1"
                                 "Img1 Texto1";
            padding: 1em;
            object-fit:cover;

            .imagen1Qsomos{
                grid-area: Img1;
            }
            .imagen2Qsomos{
                grid-area: Img2;    
            }
            .QsomosTexto{
                grid-area: Texto1;
                height: 100%;
                margin-left: 2em; 
                & h1{
                    margin-bottom: 1em;
                    border-bottom: solid;
                    border-color:red;   
                }
                & h2{
                    margin-top: 1em;
                    border-top: solid;
                    border-color: gray;
                    padding-top: 0.5em;    
                }
            }
            @include smartphone {
                
            display: grid;
            grid-template-columns: 1fr;
            grid-template-areas: "Img1" 
                                 "Texto1";
            object-fit:cover;

            }
            @include tablets {
            
                display: grid;
                grid-template-columns: 1fr;
                grid-template-areas: "Img1"
                                     "Img2"                      
                                     "Texto1";
                object-fit:cover;

            }
            
           
        }
        
        .Formulario__Contacto{
            display: flex;
            flex-flow: column wrap;
            border-color: black;
            border-style: groove;
            padding: 1em;
            align-items: center;
            justify-content: center;
            text-align: center;
            width: $anchoCard * 2 ;
           

            @include smartphone {
                display: flex;
                flex-flow: column wrap;
                border-color: black;
                border-style: groove;
                padding: 1em;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: auto;
            }
            @include tablets {
                width: 90%;
                display: flex;
            flex-flow: column wrap;
            border-color: black;
            border-style: groove;
            padding: 1em;
            align-items: center;
            justify-content: center;
                height: auto;
                }
            


            
            .IntroContacto{

                    text-align: center;
                h1{
                    margin-top: 20px;
                    border-bottom: solid;
                    border-color: red;
                }
        
                p{
                    margin-top: 20px;
                }
            
            
                @include smartphone {
                
                    h1{
                        margin-top: 20px;
                        border-bottom: solid;
                        border-color: blue;
                    }
            
                    p{
                        margin-top: 20px;
                    }

                }
                @include tablets {
                
                    h1{
                        margin-top: 20px;
                        border-bottom: solid;
                        border-color: green;
                    }
            
                    p{
                        margin-top: 20px;
                    }

                }
                
                @include desktop {
                
                    h1{
                        margin-top: 20px;
                        border-bottom: solid;
                        border-color: red;
                    }
            
                    p{
                        margin-top: 20px;
                    }

                }
            }

            .boton_personalizado{
                margin: auto;
                text-decoration: none;
                padding: 10px;
                font-weight: 600;
                font-size: $letraHeader;
                color: #ffffff;
                background-color: #1883ba;
                border-radius: 6px;
                border: 2px solid #0016b0;
                width: auto;
                text-align: center;
                &:hover{
                  color: #1883ba;
                  background-color: #ffffff;
                }
                
                .boton_personalizado--verde{
                    @extend .boton_personalizado;
                    background-color: green;
                    
                }
            }
        }
        .InicioPagina{
                text-align: center;   
            h1{
                align-items: center;
                font-weight: 300;
                font-size: 3em;
                color: green;
                margin-top: 5em;

            }
            h2{
                
                align-items: center;
                font-size: 2.5em;
                color: black;
                font-weight: 300;
                margin-bottom: 2em;
            }
            .LinkVerProp{
                    vertical-align: middle;
                    text-align: center;
                    border: 2px solid transparent;
                    font-size: 1.5em;
                    color: #fefefe;
                    background-color: #ec1c24;
                    padding: 0.5em;
                    border-radius: 1.5em;
                &:hover{
                    box-shadow: 5px 5px 30px rgba(0,0,0,0.4);
                    font-size: 2em;
                    text-decoration: none;
                    transform: scale(2,1); 
                
                }
            }
        }
            
    }
    
    .mainPropiedades{
        grid-area: main;
        margin: 1em;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        flex-flow: column wrap;
        text-align: center;
        
        .main__propiedades__contenedor{
            display: flex;
            align-content: center;
            justify-content: center;
            flex-wrap: wrap;    
            box-sizing: border-box;

            .ImagenPropdestc__card{
                display: flex;
                flex-direction: column;
                margin: 1em;
                border-radius: 6px;
                overflow:hidden;
                box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
                cursor: default;
                transition: all 400ms ease;
                transform: translatey(-3%);    
                align-items: center;
                justify-content: center;
                width: $anchoCard;
                padding-right: 0.6em;
    
                & img{
                    margin: $anchoCard * 0.05;        
                }
                
                & p{
                    margin: $anchoCard * 0.01;        
                }
                
                & a{
                        text-decoration: none;
                        display: inline-block;
                        padding: 10px;
                        margin-top: 10px;
                        color:#2fb4cc;
                        border: 1px solid #2fb4cc;
                        border-radius: 4px;
                        transition: all 400ms ease;
                        margin: 20px;    
                    &:HOVER{
                        box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
                        color: white;
                        background-color: #2fb4cc;
                        
                    }
                }
                
                .ImagenPropdestc__card--imagen{
                    display: flex;
                    flex-flow: column wrap;
                }
                
                .ImagenPropdestc__card--imagen h2{
                    position:absolute;
                    bottom :1.2em;
                    color:white;
                    margin-left: 0.8em;
                    padding: 10px;
                    background-color: grey;
                    font-size: 1.2em;
                    
                    } 
            }
        }
    }

    footer{
        grid-area: footer;
        position: relative;
        bottom: 0;
        width: 100%; 
        text-align: justify;
        
        ul{
            height: 10em;
        }
        a{
            font-size: 3em;
        }
         p {
            text-align: justify;
        }
    }
    
}

.BodyIndex{
    background-image: url(../Images/Background/Background_office.jpg);
    object-fit:cover;
    background-repeat: no-repeat;
}




