
$ancho:720px;



.grid-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 0.1fr 1fr 1fr 1fr auto;
    grid-template-areas: "header   header   header"
    "main     main     main"
    "main     main     main"
    "main     main     main"
    "footer   footer   footer";
                   
    
                /*Header*/
    .header{
        padding: 0px;
        display: flex;
        justify-content:flex-end;
        align-items: center;
        grid-area: header;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        filter: alpha(opacity=80);
        -moz-opacity: 0.80;
        -khtml-opacity: 0.8;
        opacity: 0.8;  
        position: sticky;
        top: 0;
        .header__NavBar{
            width: 100%;
            .Header__Logo{
                margin-right: 40em; 
                
                a{
                    color: black;
                    align-items:baseline;
                    text-justify: auto;
                    text-decoration: none;
                    font-weight: BOLDER; 
                    
                    &:hover{  
                        color: black;
                        border-top: solid;
                        border-BOTTOM: solid;
                        border-color: black;
                        align-items:baseline;
                        text-justify: auto;
                        text-decoration: none;
                        font-weight: BOLDER;  
                    } 
                }
            &:hover{
                -webkit-transform: animate__zoomIn;
                transition: 3s ease-in;
            }
        }
            ul{
                    list-style: none;
                    display: flex;  
                    flex-direction: row; 
                    justify-content: flex-end;
                    padding: 20px;
                    
                    .li{
                        display: inline-block;
                        width: auto;
                        font-style: italic;
                        border-style: initial;
                        text-align: center;
                        padding: 10px
                        a{
                            color: black;
                            align-items:baseline;
                            text-justify: auto;
                            text-decoration: none;
                            font-weight: BOLDER; 
                        }   
                            &:hover{  
                            color: black;
                            border-top: solid;
                            border-BOTTOM: solid;
                            border-color: black;
                            align-items:baseline;
                            text-justify: auto;
                            text-decoration: none;
                            font-weight: BOLDER;  
                            } 
                        
                    }
                }

            }
        }

                    /*Main*/

    .main{
        grid-area: main;
        margin: 1em;
        min-height: 100vh;
        display: flex;
        justify-content: center; 
        
        .InicioPagina{
            height: 75vh;
            text-align: center;   
            
                h1{
                    align-items: center;
                    font-size: 5em;
                    color: red;
                    margin-top: 1.5em;
                }
                
                h2{
                    font-size: 4em;
                    color: black;
            }
                a{
                    margin-top: 1em; 
                    height: 2.5em;
                    font-size: 2em; 
                    background-color: red;
                }
        }
        .Titulo{
            text-align: center;
            margin: 1em;
        }
    }
    
    .mainPopiedades{
        grid-area: main;
        margin: 1em;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        flex-flow: column wrap;
        .main__propiedades__contenedor{
            display: flex;
            align-content: center;
            justify-content: center;
            flex-wrap: wrap;    
            grid-template-areas: "Prop1 Prop2 Prop3 Prop4"
                                 "Prop5 Prop6 Prop6 Prop6";
            box-sizing: border-box;
            
            .main__propiedades__imagen{
                grid-area: Prop1;
                display: flex;  
            }
    
            .main__propiedades__imagen2{
                grid-area: Prop2;
                
            }
            
            .main__propiedades__imagen3{
                grid-area: Prop3;
                }
            
            .main__propiedades__imagen4{
                grid-area: Prop4;
                }
            
            .main__propiedades__imagen5{
                grid-area: Prop5;
                }
            
            .main__propiedades__imagen6{
                grid-area: Prop6;  
            }
    
            .ImagenPropdestc__card{
                display: flex;
                flex-direction: column;
                margin: 20px;
                border-radius: 6px;
                overflow: hidden;
                box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
                cursor: default;
                transition: all 400ms ease;
                transform: translatey(-3%);    
                align-items: center;
                justify-content: center;
                width: 18rem;
    
            & img{
                    margin: 1em;        
                }
                
            & p{
                    margin: 0.1em;        
                }
                
                & a{
                    text-decoration: none;
                    display: inline-block;
                    padding: 10px;
                    margin-top: 10px;
                    color:#2fb4cc;
                    border: 1px solid #2fb4cc;
                    border-radius: 4px;
                    transition: all 400ms ease;
                    margin: 20px;    
                    &:HOVER{
                        box-shadow: 5px 5px 20px rgba(0,0,0,0.4); 
                    }
                }
                
            }
        }
    }


                /*Footer*/

    .footer{
        grid-area: footer;
        position: relative;
        bottom: 0;
        width: 100%; 
        
        ul{
            height: 10em;
        }
        a{
            font-size: 3em;
        }
    }

    a{
        color: black;
        align-items:baseline;
        text-justify: auto;
        text-decoration: none;
        font-weight: BOLDER; 
        
        &:hover{  
        color: black;
        border-top: solid;
        border-BOTTOM: solid;
        border-color: black;
        align-items:baseline;
        text-justify: auto;
        text-decoration: none;
        font-weight: BOLDER;  
        } 
    }

    .ImagenPropdestc__card{
        display: flex;
        flex-direction: column;
        margin: 20px;
        border-radius: 6px;
        overflow: hidden;
        box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
        cursor: default;
        transition: all 400ms ease;
        transform: translatey(-3%);    
        align-items: center;
        justify-content: center;
        width: 18rem;
            & img{
                margin: 1em;        
            }
            & p{
                margin: 0.1em;        
            }
            & a{
                text-decoration: none;
                display: inline-block;
                padding: 10px;
                margin-top: 10px;
                color:#2fb4cc;
                border: 1px solid #2fb4cc;
                border-radius: 4px;
                transition: all 400ms ease;
                margin: 20px;    
            }
            &:HOVER{
                box-shadow: 5px 5px 20px rgba(0,0,0,0.4); 
            }
    }

}

.BodyIndex{
    background-image: url(../Images/Background/Background_office.jpg);
}




