*{
    margin:0;
    padding:0;
    font-family: 'Ubuntu', sans-serif;   
    }

    body{
        position: relative;
        min-height: 100vh;
        height: 500px;
        
    }
.FondoIndex{
    background:url(./Images/Background/Background\ office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
    
li{
    list-style: none;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 0.1fr 1fr 1fr 1fr auto;
    grid-template-areas: "header   header   header"
                          "main     main     main"
                          "main     main     main"
                          "main     main     main"
                          "footer   footer   footer";
}

.header{ 
    /*background: linear-gradient(90deg, rgba(2,0,36,0.03125) 3%, rgba(2,76,12,1) 33%, rgba(0,212,255,0) 84%, rgba(25,205,31,0.3533788515406162) 100%);*/
    padding: 0px;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    grid-area: header;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.80;
    -khtml-opacity: 0.8;
    opacity: 0.8;  
    position: sticky;
    top: 0;
}

.NavBar{
        width: 100%;
    }

.header a{
    color: black;
    align-items:baseline;
    text-justify: auto;
    text-decoration: none;
    font-weight: BOLDER;  
}

.InicioPagina{
    height: 75vh;
    text-align: center;
}

.InicioPagina h1{
    align-items: center;
    font-size: 5em;
    color: red;
    margin-top: 1.5em;
}

.InicioPagina h2{
    font-size: 4em;
    color: black;
}

.Header__Logo{
    margin-right: 40em;
}

.header a:hover{
    color: gray;
    border-top: solid;
    border-BOTTOM: solid;
    border-color: gray;
    align-items:baseline;
    text-justify: auto;
    text-decoration: none;
    font-weight: BOLDER;
   
}

.Titulo{
    text-align: center;
    margin: 1em;
    
}

.header__ul {
        list-style: none;
        display: flex;  
        flex-direction: row; 
        justify-content: flex-end;
        padding: 20px;
        
    }
    
.header__li{
        display: inline-block;
        width: auto;
        font-style: italic;
        border-style: initial;
        text-align: center;
        padding: 10px
    }


.main{
    grid-area: main;
    margin: 1em;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

MAIN H1{
    margin-bottom: 20PX;
}

.main__formularioTasacion{
    border-style: solid;
    font-size: larger;
    padding: 10px;
    text-align:center;     
    align-content: center;     
}

.main__propiedades__contenedor{
    display: grid;
    grid-template-columns: repeat (4,1fr);
    grid-template-rows: repeat (2,1fr);
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;    
    grid-template-areas: "Prop1 Prop2 Prop3 Prop4"
                         "Prop5 Prop6 Prop6 Prop6";
    box-sizing: border-box;
}

.main__propiedades__imagen{
    grid-area: Prop1;
    display: flex;  
}

.main__propiedades__imagen2{
    grid-area: Prop2;
    
}

.main__propiedades__imagen3{
    grid-area: Prop3;
      }

.main__propiedades__imagen4{
    grid-area: Prop4;
    }

.main__propiedades__imagen5{
    grid-area: Prop5;
    }

.main__propiedades__imagen6{
    grid-area: Prop6;  
}
                       

.ImagenPropdestc__card{
    display: flex;
    flex-direction: column;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
    transform: translatey(-3%);    
    align-items: center;
    justify-content: center;
    width: 18rem;
}

.ImagenPropdestc__card img{
    margin: 1em;        
}

.ImagenPropdestc__card p{
    margin: 0.1em;        
}



.ImagenPropdestc__card a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color:#2fb4cc;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
    transition: all 400ms ease;
    margin: 20px;    
}

.ImagenPropdestc__card:HOVER{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4); 
}

.ImagenPropDestc1{
    grid-area: Prop1;      
}

.ImagenPropDestc2{
   grid-area: Prop2;   
}

.ImagenPropDestc3{
    grid-area: Prop3; 
}   

.ImagenPropDestc4{
    grid-area: Prop4; 
}   

.ImagenPropDestc5{
    grid-area: Prop5; 
}   

.ImagenPropDestc6{
    grid-area: Prop6; 
}   

.ImagenPropDestc__contenido{
    text-align: center;
    font-size: 1em;
}

.ImagenPropDestc__contenido a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color:#2fb4cc;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
    transition: all 400ms ease;
}

.ImagenPropDestc__contenido a:hover{
    background: #2fb4cc ;
    color: #fff;
}

.main__QSomos--section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr 1fr;
    grid-template-areas: "Img2 Texto1"
                         "Img1 Texto1";
    margin-left: 1em;
    padding: 2em;
   
}
.imagen1Qsomos{
    grid-area: Img1;
}

.imagen1Qsomos__imagen{
    background-size:100% 100%;
}

.imagen2Qsomos{
    grid-area: Img2;    
}

.imagen2Qsomos__imagen{
    background-size:100% 100%;
}

.QsomosTexto{
    grid-area: Texto1;
}

.QsomosTexto h1{
    margin-bottom: 1em;
    border-bottom: solid;
    border-color: gray;   
}

.QsomosTexto h2{
    margin-top: 0.5em;
    border-top: solid;
    border-color: gray;
    margin-bottom: 0.5em;
    
}


.QsomosTexto p{
    margin-top: 1em;
    text-align:justify;
    font-size: 1.5em;
}


.main__formcontacto--botones{
    align-content: center;
    text-align: left;
    font-size: 50px;
    border-bottom: tomato;
    padding-bottom: 10px;
    margin: 10px;
   

}

.footer{
    grid-area: footer;
    position: relative;
    bottom: 0;
    width: 100%;
}

.contenido__botones {
    border-style: solid;
    background-color: coral;
    font-size: large;
    display: inline-block;    
}    
    
.formularioTasacion__boton{
    margin: 10px;
}

h1{
    font-size: 50px;
}

#Ley{
    font-size: 0.8em;
}
.main__formularioTasacion--table{
    width: 100%;    
}

#Prop4{
    grid-area: Prop4 ;
}

.Formulario__Contacto{
    border-color: black;
    border-style: groove;
    padding: 1em;
    align-items: center;
    justify-content: center;
    width: 30rem;
    height: 40em;
}

.IntroContacto{
    text-align: center;
}

.IntroContacto h1{
        margin-top: 20px;
        font-size: 4em;
}

.IntroContacto p{
    margin-top: 20px;
    font-size: 1.3em;
}

@media (max-width:768px){

    .InicioPagina h1{
        font-size:2em;
        font-weight: bolder;
        background-color: rgba(0, 0, 0, 0.568);
}

.InicioPagina h2{
    font-size: 1.8em;
    margin-top: 2.1em ;
    font-weight: bolder;
    background-color: rgba(0, 0, 0, 0.568)
}


    .grid-container{
        grid-template-columns: repeat(2,1fr);
        grid-template-areas: "header   header"
                              "main     main"
                              "main     main"
                              "main     main"
                             "footer   footer";
    }

    .main__propiedades__contenedor{
            grid-template-areas: "Prop1" 
                                  "Prop2" 
                                  "Prop3"
                                  "Prop4"
                                  "Prop5"
                                  "Prop6";
            align-items: center;
            justify-content: center;
    }

.main__propdestacadas {
        grid-template-columns: 1fr;
        grid-template-areas: "Prop1" 
                             "Prop2"
                             "Prop3" 
                             "Prop4"
                             "Prop5"
                             "Prop6";
}
.main__QSomos--section{
    grid-template-columns: 1fr;
    grid-template-areas: "Img1"
                         "Img2"
                         "Texto1";

}
}